<link rel = "stylesheet" type = "text/css" href = "retro.css" />  
<p><img src="https://i.imgur.com/dpH6TbF.png" alt="luuuuuuaaaaaaaaah-ah-ah-ah"><br>
<a href="">Available for Purchase at the YoYo Games Marketplace</a></p>
<h1 id="LuaRousr"><a name="LuaRousr" href="#LuaRousr">#</a> LuaRousr</h1>
<p>LuaRousr is a GameMaker Studio 2 extension that integrates Lua with GameMaker Studio 2</p>
<h2 id="InstallationNotes"><a name="InstallationNotes" href="#InstallationNotes">#</a> Installation Notes</h2>
<ul>
<li>​Import Assets from the <code>LuaRousr</code> groups in each Resource</li>
<li>Import Assets from the &quot;(required)&quot; marked groups (See note below)</li>
</ul>
<p><strong>​​Note:</strong>  LuaRousr uses functions from <a href="https://marketplace.yoyogames.com/assets/6319/rousrsuite">rousrSuite​​</a>. When importing assets from the extension, make sure to include any <code>rousr (required)</code> group. If you have any other rousr​extensions, you only need to keep one copy of each of these resources. If you do import multiples, GameMaker Studio 2 will rename the duplicates with a <code>_1</code> at the end. You can simply delete any of the resources after importing the asset.</p>
<h3 id="QuickStart"><a name="QuickStart" href="#QuickStart">#</a> Quick Start</h3>
<ul>
<li>Drop an instance of <code>LuaRousr</code> into your room. (<strong>NOTE:</strong> It's best to keep it persistent)</li>
<li>Execute Lua files;     <code>luaRousr_executeFile(filename)</code></li>
<li>Execute Lua strings:   <code>luaRousr_executeString(scriptstring)</code></li>
<li>Bind GML script:       <code>luaRousr_bindScript(lua_name, script_index, [optional]noreturns)</code></li>
<li>Bind/Unbind Instances: <code>luaRousr_bindInstance(lua_name, instance_id)</code>/<code>luaRousr_unbindInstance(instance_id)</code></li>
</ul>
<h6><em>Note</em>: LuaRousr uses <a href="https://www.lua.org/versions.html#5.3">Lua 5.3</a></h6>
<hr>
<h2 id="TheDemo"><a name="TheDemo" href="#TheDemo">#</a> The Demo</h2>
<p><img src="http://i.imgur.com/yRzgkk7.gif" alt="boingggggg"></p>
<h6>The <a href="http://static.rou.sr/LuaRousr/Demo.zip">demo</a> was lovingly handcrafted, and provided by <a href="https://twitter.com/net8floz">@net8floz</a></h6>
<p><a href="http://static.rou.sr/LuaRousr/Demo.zip">Download Here</a></p>
<h3 id="Messin'withtheDemo"><a name="Messin'withtheDemo" href="#Messin'withtheDemo">#</a> Messin' with the Demo</h3>
<p>First and foremost: Use the <code>F1</code>-<code>F4</code> keys so that you can experience the latest in Grid fashion.</p>
<p>The demo uses the 4 Lua files, <code>game.lua</code>, <code>paddle.lua</code>, <code>ball.lua</code>, and <code>math.lua</code> to pit two AI pong paddles against one another, each of these files can be edited WHILE the game is running to completely change the behavior of the game itself. Once you've edited the Lua files, press <code>R</code> and the Lua will reload. Hurray!</p>
<h3 id="WorkingwiththeDemoExample(includedwithLuaRousr)"><a name="WorkingwiththeDemoExample(includedwithLuaRousr)" href="#WorkingwiththeDemoExample(includedwithLuaRousr)">#</a> Working with the Demo Example (included with LuaRousr)</h3>
<p>Lua files are expected to be right next to the .exe in this demo - though you don't have to do it that way.  To run the demo from GMS2 you must add the lua files to the <code>executable path</code> <strong>first</strong>.</p>
<p>This path is something like the following for VM (and something ridiculous on YYC):</p>
<pre><code>C:\ProgramData\GMS2\Cache\runtimes\runtime-x-x-x\windows
</code></pre>
<p>Alternatively just put the Lua files on <code>C:/lua</code> (or anywhere else) and use that instead of <code>get_executable_path</code></p>
<p><strong>See: obj_game - Create for more instruction</strong></p>
<h3 id="Credit"><a name="Credit" href="#Credit">#</a> Credit</h3>
<ul>
<li><a href="http://www.twitter.com/net8floz">@net8floz</a> for the friggin cool <a href="">demo</a>
<ul>
<li>Makes use of <a href="http://www.gmlscripts.com/script/spline">spline</a> from <a href="http://www.gmlscripts.com">GMLscripts.com</a></li>
</ul>
</li>
<li><a href="http://www.lua.org">Lua 5.3</a>!</li>
<li><a href="https://github.com/SteveKChiu/lua-intf">lua-intf</a> for a C++ 11 Lua C API Wrapper!</li>
<li><a href="https://github.com/cameron314/concurrentqueue">moodycamel:concurrentqueue</a> for lockless queues!</li>
<li><a href="https://github.com/ThePHd/sol2">sol2</a> for GMLBindInstance dynamic getter/setter</li>
</ul>
<p><strong>Please see LICENSE.md for license information</strong><br>
<strong>Extension itself is covered by <a href="">YoYo Games's EULA</a></strong></p>
<hr>
<h2 id="APIReference"><a name="APIReference" href="#APIReference">#</a> API Reference</h2>
<h3 id="GML"><a name="GML" href="#GML">#</a> GML</h3>
<h4 id="luaRousr_init"><a name="luaRousr_init" href="#luaRousr_init">#</a> <code>luaRousr_init</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_init()
</code></pre>
<p>create LuaRousr if it doesn't already exist. [helper function]</p>
<hr>
<h4 id="luaRousr_add_debug_print_listener"><a name="luaRousr_add_debug_print_listener" href="#luaRousr_add_debug_print_listener">#</a> <code>luaRousr_add_debug_print_listener</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_add_debug_print_listener()
</code></pre>
<p>Adds a script index to the list of debug listeners internal to LuaRousr.      <strong>Note:</strong> Use <code>with(LuaRousr) DebugToConsole = false</code> to shut off default print behavior</p>
<hr>
<h4 id="luaRousr_remove_debug_print_listener"><a name="luaRousr_remove_debug_print_listener" href="#luaRousr_remove_debug_print_listener">#</a> <code>luaRousr_remove_debug_print_listener</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_remove_debug_print_listener()
</code></pre>
<p>Removes a script index from the list of debug listeners internal to LuaRousr.      <strong>Note:</strong> Use <code>with(LuaRousr) DebugToConsole = false</code> to shut off default print behavior</p>
<hr>
<h4 id="luaRousr_tick"><a name="luaRousr_tick" href="#luaRousr_tick">#</a> <code>luaRousr_tick</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_tick()
</code></pre>
<p>force lua to process a frame / tick /step</p>
<hr>
<h4 id="luaRousr_default_getter"><a name="luaRousr_default_getter" href="#luaRousr_default_getter">#</a> <code>luaRousr_default_getter</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_index</strong></td>
<td>{Real} index assigned the variable</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{*} return value</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_default_getter(_index)
</code></pre>
<p>called <code>with(instance)</code></p>
<hr>
<h4 id="luaRousr_default_setter"><a name="luaRousr_default_setter" href="#luaRousr_default_setter">#</a> <code>luaRousr_default_setter</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_variable_name</strong></td>
<td>{String} name given to variable</td>
</tr>
<tr>
<td><strong>_index</strong></td>
<td>{Real} index assigned the variable</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_default_setter(_variable_name, _index)
</code></pre>
<p>called <code>with(instance)</code></p>
<hr>
<h4 id="luaRousr_bind_script"><a name="luaRousr_bind_script" href="#luaRousr_bind_script">#</a> <code>luaRousr_bind_script</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_script_index</strong></td>
<td>{Real} script index that represents this function</td>
</tr>
<tr>
<td><strong>[_user_data]</strong></td>
<td>{*} user data optionally passed with the script_execute</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_bind_script(_script_index, [_user_data])
</code></pre>
<p>Call this for all of your GML script functions you'd like Lua to have access to.      <strong>Note:</strong> This must be done <em>before</em> you load your scripts that use the functions. Otherwise, it'sunreliable that they'll be able to &quot;see&quot; your functions.      <strong>Note About Arguments:</strong> In Lua, you're able to treat most anything like a variable and pass it to a function as an argument. At this time, LuaRousr doesn't support accepting <code>Lua tables</code> as arguments. You may pass functions, however. If passing a function to GML, you must retain the <code>callbackid</code> in order to call it outside of the scope of the bound script function. See <code>luaRousr_retain_callback</code> and <code>luaRousr_release_callback</code>.</p>
<hr>
<h4 id="luaRousr_bind_instance_variable"><a name="luaRousr_bind_instance_variable" href="#luaRousr_bind_instance_variable">#</a> <code>luaRousr_bind_instance_variable</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_member_name</strong></td>
<td>{String} name of this member to refer to it by in Lua i.e., <code>instance._member_name</code></td>
</tr>
<tr>
<td><strong>_default</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>[_read_only=false]</strong></td>
<td>{Boolean} can you write to this value?</td>
</tr>
<tr>
<td><strong>[_getter]</strong></td>
<td>{Real} getter function for this variable</td>
</tr>
<tr>
<td><strong>[_setter]</strong></td>
<td>{Real} setter function for this variable</td>
</tr>
<tr>
<td><strong>[_force_type]</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} index of variable</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_bind_instance_variable(_member_name, _default, [_read_only=false], [_getter], [_setter], [_force_type])
</code></pre>
<p>Binds an <code>instance</code> variable to <code>_member_name</code> in Lua. Once <code>instance</code> is bound in Lua, the variable is accessible by <code>_member_name.</code>      In LuaRousr's current version, this feature uses <code>variable_instance_set</code> and <code>variable_instance_get</code> to keep the value in sync with Lua, so <code>varName</code> <strong>must</strong> match the <code>instance</code> variable name.</p>
<hr>
<h4 id="luaRousr_bind_instance"><a name="luaRousr_bind_instance" href="#luaRousr_bind_instance">#</a> <code>luaRousr_bind_instance</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_instance_id</strong></td>
<td>{Real} - instance we're sync'ing (some history: original API required both, and unfortunately passed id second, in order to not break everything, first param is now optional)</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} noone on unsuccessful bind, or id of instance (for chaining in function returns)</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_bind_instance(_instance_id)
</code></pre>
<p>Binds an instance to Lua using the given name. All the members can now be accessed i.e,:      <code>inst.x = 10 print(inst.y)</code>      <strong>NOTE:</strong> You must unbind an instance in its <code>CleanUp</code> event if it's still bound at that point.</p>
<hr>
<h4 id="luaRousr_bind_resource"><a name="luaRousr_bind_resource" href="#luaRousr_bind_resource">#</a> <code>luaRousr_bind_resource</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_object_index</strong></td>
<td>{Real} - Object we're sync'ing</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_bind_resource(_object_index)
</code></pre>
<p>bind an Object to Lua</p>
<hr>
<h4 id="luaRousr_unbind_instance"><a name="luaRousr_unbind_instance" href="#luaRousr_unbind_instance">#</a> <code>luaRousr_unbind_instance</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_unbind_instance()
</code></pre>
<p>Removes an instance binding so that Lua no longer updates the GML instance.      <strong>Note:</strong> Any references to the <strong>Lua</strong> version of the object are still 'valid' in that they will act like a real instance... but they no longer are attached to the GML rendering them useless.</p>
<hr>
<h4 id="luaRousr_unbind_resource"><a name="luaRousr_unbind_resource" href="#luaRousr_unbind_resource">#</a> <code>luaRousr_unbind_resource</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_unbind_resource()
</code></pre>
<p>unbind an object from Lua</p>
<hr>
<h4 id="luaRousr_set_global"><a name="luaRousr_set_global" href="#luaRousr_set_global">#</a> <code>luaRousr_set_global</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_val</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true if set</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_set_global(_val)
</code></pre>
<p>set a value with <code>_name</code> in the Lua Globals table (global namespace)</p>
<hr>
<h4 id="luaRousr_get_global"><a name="luaRousr_get_global" href="#luaRousr_get_global">#</a> <code>luaRousr_get_global</code></h4>
<p><strong>returns</strong>: | {Real|String} global value or undefined</p>
<pre><code>luaRousr_get_global()
</code></pre>
<p>get the value of <code>_name</code> in the Lua Globals table (global namespace)</p>
<hr>
<h4 id="luaRousr_execute_file"><a name="luaRousr_execute_file" href="#luaRousr_execute_file">#</a> <code>luaRousr_execute_file</code></h4>
<p><strong>returns</strong>: | {Real} undefined on failure, or the script context Id for all threads running from this execute.</p>
<pre><code>luaRousr_execute_file()
</code></pre>
<p>Load a .Lua file and call <code>luaRousr_execute_string</code> on it</p>
<hr>
<h4 id="luaRousr_execute_string"><a name="luaRousr_execute_string" href="#luaRousr_execute_string">#</a> <code>luaRousr_execute_string</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_script</strong></td>
<td>{String} string containing Lua script</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Boolean} true on call successfully returned</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_execute_string(_script)
</code></pre>
<p>false</p>
<hr>
<h4 id="luaRousr_call"><a name="luaRousr_call" href="#luaRousr_call">#</a> <code>luaRousr_call</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_args...]</strong></td>
<td>{...Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_call([_args...])
</code></pre>
<p>Call a Lua function with the given name, that simple!      <strong>NOTE: Returns are not functioning in the current version! No returns as of yet.</strong>      <a href="#luaRousr_retain_callback">luaRousr_retain_callback</a>      <a href="#luaRousr_release_callback">luaRousr_release_callback</a></p>
<hr>
<h4 id="luaRousr_retain_callback"><a name="luaRousr_retain_callback" href="#luaRousr_retain_callback">#</a> <code>luaRousr_retain_callback</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_callback_id</strong></td>
<td>{Real} callback Id passed to us from Lua</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _callback_id or undefined</td>
</tr>
</tbody>
</table>
<pre><code>luaRousr_retain_callback(_callback_id)
</code></pre>
<p>Increments the reference count for a callbackId. As long as the reference count is above 0, the callback is kept in memory.</p>
<hr>
<h4 id="luaRousr_release_callback"><a name="luaRousr_release_callback" href="#luaRousr_release_callback">#</a> <code>luaRousr_release_callback</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_release_callback()
</code></pre>
<p>Decrements the reference count for the callbackId. If it's completely released (refcount = 0), it queues the callbackId for deletion. The next <code>step</code> called by <code>LuaRousr</code> will release this callback from memory.</p>
<hr>
<h4 id="luaRousr_kill_threads"><a name="luaRousr_kill_threads" href="#luaRousr_kill_threads">#</a> <code>luaRousr_kill_threads</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>luaRousr_kill_threads()
</code></pre>
<p>Kill all threads created in Lua script using the <code>thread(function)</code> Lua function.</p>
<hr>
<h4 id="__luaRousr_event_create"><a name="__luaRousr_event_create" href="#__luaRousr_event_create">#</a> <code>__luaRousr_event_create</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>__luaRousr_event_create()
</code></pre>
<p>Create event for LuaRousr Object</p>
<hr>
<h4 id="__luaRousr_event_clean_up"><a name="__luaRousr_event_clean_up" href="#__luaRousr_event_clean_up">#</a> <code>__luaRousr_event_clean_up</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>__luaRousr_event_clean_up()
</code></pre>
<p>Clean Up event for LuaRousr Object</p>
<hr>
<hr>
<h3 id="LuaFunctions"><a name="LuaFunctions" href="#LuaFunctions">#</a> Lua Functions</h3>
<h4 id="thread(function)"><a name="thread(function)" href="#thread(function)">#</a> <code>thread(function)</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>callbackId</strong></td>
<td>the id of the callback passed from Lua</td>
</tr>
</tbody>
</table>
<p><strong>returns:</strong> a thread object to hold on to.</p>
<p>A <code>Lua Thread</code> can be &quot;yielded&quot; to pause execution, resuming from the point of the <code>yield</code> the next time the <code>Lua Thread</code> is resumed. (LuaRousr automatically resumes threads once per step in the <code>oLuaRousr</code> object).</p>
<h5><em><strong>TIP</strong></em> This is useful for scripts that need to wait for things to occur, such as telling an NPC to move to a location, and then checking they've finished their move each step. i.e,:</h5>
<pre><code>local move_thread = thread(function()
  local npc = GMLInstance(&quot;npc&quot;)
  npc_move(npc, 200, 200)
  while (npc_is_moving(npc)) do
    thread.yield()
  end
end)

</code></pre>
<h6>Note: The npc_* functions are just for the example, and not actual API.</h6>
<h5><strong>Note:</strong> We're storing the returned thread in a local variable. This is to access it with later, but LuaRousr will also keep a Lua reference to the thread while it's active to prevent it from being garbage collected.</h5>
<hr>
<h4 id="thread.yield()"><a name="thread.yield()" href="#thread.yield()">#</a> <code>thread.yield()</code></h4>
<p>Yield tells a Lua Thread to stop executing, resuming from this point next step. See the explanation in <code>thread()</code></p>
<hr>
<h4 id="toFunction(callbackId)"><a name="toFunction(callbackId)" href="#toFunction(callbackId)">#</a> <code>toFunction(callbackId)</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>callbackId</strong></td>
<td>the id of the callback passed from Lua to GML and back to Lua</td>
</tr>
</tbody>
</table>
<p><strong>returns:</strong> function <code>callbackId</code> represents</p>
<p>If you've passed a function to GML, but want to pass it back to Lua and use it, <code>toFunction</code> returns the actual function from the numeric id.</p>
<hr>
<h4 id="print(string)"><a name="print(string)" href="#print(string)">#</a> <code>print(string)</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>string</strong></td>
<td>the text to show_debug_message</td>
</tr>
</tbody>
</table>
<p>a debug, logging, helper function. calls <code>show_debug_message</code> in GML with the given text.</p>
<hr>
<h4 id="GMLInstance(instanceName)"><a name="GMLInstance(instanceName)" href="#GMLInstance(instanceName)">#</a> <code>GMLInstance(instanceName)</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>instanceName</strong></td>
<td>the string name given to the instance when it was bound to Lua.</td>
</tr>
</tbody>
</table>
<p><strong>returns:</strong> a <code>GMLInstance</code> Lua object representing the named instance, or nil on error.</p>
<p>Retrieves a GML <code>instance</code> resource that was bound using <code>luaRousr_bindInstance.</code> Each <code>GMLInstance</code> Lua object created this way does point to the same GML resource.</p>
<h5>Built-ins</h5>
<p>All instance built-in GML variables are bound to <code>GMLInstance</code> and accessible as properties:</p>
<pre><code>local inst = GMLInstance(&quot;tester&quot;)
inst.x = 10
print (inst.x)
</code></pre>
<h4 id="GMLResource(resourceName)"><a name="GMLResource(resourceName)" href="#GMLResource(resourceName)">#</a> <code>GMLResource(resourceName)</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>instanceName</strong></td>
<td>the string name given to the resource when it was bound to Lua.</td>
</tr>
</tbody>
</table>
<p><strong>returns:</strong> at <code>index</code> value for the resource, so you can pass it to your functions</p>
<p>Retrieves a GML Resource <code>index</code> for a resource that was bound using <code>luaRousr_bindResource.</code></p>
<hr>
<h3 id="Changelog"><a name="Changelog" href="#Changelog">#</a> Changelog</h3>
<ul>
<li>
<p>v1.1.0</p>
<ul>
<li>Updated LuaRousr to use <a href="https://marketplace.yoyogames.com/assets/6319/rousrsuite">rousrSuite</a></li>
<li>Updated internal <code>rousrGML</code> lib.</li>
<li>Hid API in a GML extension to keep the resource tree clean.</li>
</ul>
</li>
<li>
<p>v1.0.0</p>
<ul>
<li><strong>API Changes:</strong>
<ul>
<li>Renamed <code>luaRousr_killThread</code> to <code>luaRousr_killThreads</code> to more accurately match its function, no longer accepts a contextId</li>
<li><code>luaRousr_executeFile</code> and <code>luaRousr_executeString</code> no longer return a <code>script_context_id</code> and just return <code>true</code> on success.</li>
<li>Added
<ul>
<li><code>luaRousr_init</code> - optional script to create LuaRousr</li>
<li><code>luaRousr_bindInstanceVariable(instance_id, memberName, defaultVal, readOnly)</code> - bind your own instance variables to your bound instance</li>
<li><code>luaRousr_bindResource(_name, _index)</code> and <code>luaRousr_unbindResource(_indexOrName)</code> to manage resource binds (access in Lua as <code>GMLResource(&quot;name&quot;)</code>)</li>
<li><code>luaRousr_retainCallback</code> and <code>luaRousr_releaseCallback</code> for managing functions passed <em>from</em> Lua's Lifetime.</li>
<li><code>luaRousr_addDebugPrintListener</code> and <code>luaRousr_removeDebugPrintListener</code> added, allowing you to add custom print handlers.</li>
</ul>
</li>
</ul>
</li>
<li>Fixes:
<ul>
<li>Fixed calling Lua from Lua called GML functions
<ul>
<li>Nesting Lua-&gt;Gml-&gt;Lua-&gt;Gml should now call functions correctly.</li>
</ul>
</li>
<li>Fixed <code>luaRousr_call</code> not returning values properly</li>
<li>Rewrote Instance Syncing
<ul>
<li><code>rousr_sync</code> was not actually being called after initial instantiation, so GML updates to objects wouldn't be seen by Lua</li>
<li><em>Smart</em> Syncing that caches reads/writes to minimize communication between GML/Lua</li>
</ul>
</li>
</ul>
</li>
<li>New Features:
<ul>
<li>Added support for passing functions as arguments to GML, i.e.,:<pre><code class="language-lua">-- Lua Code
set_game_callback(function(str)
	print (str)
end)
</code></pre>
</li>
<li>Added support for calling those functions, i.e.,:<pre><code class="language-javascript">// GML code
///@func set_game_callback(_callbackId)
var _callbackId = argument0; // got from the set_game_callback lua function
luaRousr_callLua(callbackId, &quot;hello&quot;);
</code></pre>
</li>
</ul>
</li>
</ul>
</li>
<li>
<p>v0.7.0RC</p>
<ul>
<li>Excellent, superb demo by @net8floz
<ul>
<li>Added outsideTheBox (v0.9.3) to the demo</li>
</ul>
</li>
<li>Fixed id not being bound to instances.</li>
<li>Fixed rebinding to the same named instance.</li>
<li>Added <code>luaRousr_unbindInstance</code></li>
<li>Added <code>GMLInstance</code>
<ul>
<li>Integrated <a href="https://github.com/ThePHd/sol2">sol2</a> for dynamic member getter/setter</li>
</ul>
</li>
</ul>
</li>
<li>
<p>v0.6.1 - Fixed YYC compile</p>
</li>
<li>
<p>v0.6.0</p>
<ul>
<li>rousr_sync_val system added</li>
<li>Added <code>luaRousr_bindInstance(instance_id)</code></li>
</ul>
</li>
<li>
<p>v0.5.1 - Added <code>luaRousr_killThreads</code></p>
</li>
<li>
<p>v0.5.0</p>
<ul>
<li>Initial Version
<ul>
<li>GML to DLL: Use Async Map to transfer data on a request basis</li>
<li>DLL Lua Integration using <a href="https://github.com/SteveKChiu/lua-intf">lua-intf</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<h3 id="Upcoming"><a name="Upcoming" href="#Upcoming">#</a> Upcoming</h3>
<ul>
<li>Support for more platforms (MacOs, Linux first)</li>
<li>Configuration:
<ul>
<li>Filter instance variable properties</li>
</ul>
</li>
</ul>
<h3 id="KnownIssues(Expectfixessoon)"><a name="KnownIssues(Expectfixessoon)" href="#KnownIssues(Expectfixessoon)">#</a> Known Issues (Expect fixes soon)</h3>
<ul>
<li><code>layer = -1</code> disables rendering, currently syncing it is disabled.</li>
<li>If LuaRousr is not persistent, recreating it can sometimes cause issues.</li>
</ul>
